<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chuyen backend</title>
</head>
<body>
    <h1>hello wwith chuyen from view</h1>
    <p><%=data %></p>
</body>
</html>